<!DOCTYPE html>
<html>
  <head>
<style>
@import url(https://fonts.googleapis.com/earlyaccess/jejugothic.css);

html {
  color: #fff;
  font-family: 'Jeju Gothic';
}
body {
  position: relative;
  top:100px;
}
.container {
  padding-right:10em;
  padding-left:10em;
  margin-right:auto;
  margin-left:auto;
  width : 700px;
  line-height: 4em;
  text-align: center;
  top:100px;

}


footer {
  text-align: center;
 }


</style>

  </head>
  <body>
      <div class="container d-flex justify-content-between">
        <h2>We`re sorry :-(<br>
        <strong>데일리 후보</strong>가 <br>
        더 나은 서비스를 위해 <br> 작업중입니다.</h2>
      </div>
    <footer class="footer">

<%= image_tag("likelionlogo.png",size:"130x20" ,alt: "멋사로고") %>    </footer>

    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

  </body>
  </html>
